nav .fa-bars{
    display: none;
}
@media screen and (max-width:700px) {
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background-color: black;
        color: white;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        margin: 10px 0;
        display: block;
    }
    nav ul li::after{
        left: 72%;
    }
    nav ul li:hover::after{
        width: 30%;
    }
    .register-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        font-size: 28px;
    }
    .hideMenu{
       max-height: 300px;
    }

    header .nav-search h1{
        padding-top: 200px;
        font-size: 7vw;
    }
    header .nav-search .search-bar{
        width: 90%;
        margin: 30px auto;
         padding: 20px 10px 30px;
        border-radius: 5px; 
        position: relative;
    }
    .search-bar form{
        display: block;
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .search-bar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
    }
    .sub-title{
        font-size: 8vw;
    }
    .cta{
        padding: 15% 5%;
    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }
    .cta p{
        font-size: 14px;
    }
    .cta-btn{
        padding:6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }
    .stories div p{
        font-size: 22px;
    }
    .about-msg{
        font-size: 15px;
    }
}